---
import BaseLayout from '../layouts/baseLayout.astro';
const pageTitle = 'Restaurante Ixmucare | Cocina tradicional en Paraíso, Tabasco';
---

<BaseLayout pageTitle={pageTitle}>
	<p>Bienvenido a la página de inicio de Ixmucare</p>
</BaseLayout>
