---
---
<div class="p-6 flex justify-around">
    <a href="/" class="font-serif text-[1rem]">Inicio</a>
    <a href="/Menu" class="font-serif text-[1rem]">Menu</a>
    <a href="/Gallery" class="font-serif text-[1rem]">Galeria</a>
    <a href="/About" class="font-serif text-[1rem]">Sobre nosotros</a>
    <a href="/Contact" class="font-serif text-[1rem]">Contacto</a>
</div>