---
---
<div class="nav-links">
    <a href="/">Inicio</a>
    <a href="/Menu">Menu</a>
    <a href="/Gallery">Galeria</a>
    <a href="/About">Sobre nosotros</a>
    <a href="/Contact">Contacto</a>
</div>